<h1>The Triangle Machine</h1>
<form action="/triangle">
  <div class="form-group">
    <label for="triangle">Enter in the length of each side of a triangle and hit check - it will let you know what type of triangle it is.
    </label>
    <input id="side1" name="side1" class="form-control" type="number">
    <input id="side2" name="side2" class="form-control" type="number">
    <input id="side3" name="side3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">check</button>
</form>
